<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cardiovascular Disease Prediction</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon/favicon.png') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script>
      tailwind.config={
        theme: {
        container: {
          center: true,
        },
        }
      }
    </script>
    <script src="https://kit.fontawesome.com/4bf47fa459.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-neutral-400">
    <!--Main Content-->
    <div class="container mx-auto my-auto ">
      <div class="sidebar">
        <h3 class="text-2xl text-center font-bold">Predictions</h3>
        <hr>
        <ul class="predictions-list w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">   
        </ul>
      </div>
      <div class="main">
        <div class="messages">
          <div class="mx-auto my-auto">
            <h2 class="text-2xl text-center font-bold">Cardiovascular Disease Prediction (ML)</h2>
          <form id="form" class=" mx-auto mt-8 my-auto">
              <div class="grid grid-cols-2 gap-2">
                  <div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="age">Age(Days):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="age" type="number" name="age" value="18291" required>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="sex">Gender:</label>
                          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="gender" name="gender" required>
                            <option value="">Select</option>
                            <option selected value="1">Female</option>
                            <option value="2">Male</option>
                          </select>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Height(cm):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="height" type="number" name="height" value="150" required>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Weight(Kg):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="weight" type="number" name="weight" value="153" required>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="bp">Systolic Blood Pressure(mmHg):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="systolic_bp" type="number" name="systolic_bp" value="120" required>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="bp">Diastolic Blood Pressure(mmHg):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="diastolic_bp" type="number" name="diastolic_bp"  value="80" required>
                        </div>
                  </div>
                  <div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="sex">Cholestrol</label>
                          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="cholesterol" name="cholesterol" required>
                            <option value="">Select</option>
                            <option value="1">Normal</option>
                            <option selected value="2">Above Normal</option>
                            <option value="3">Well Above Normal</option>
                          </select>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="sex">Glucose</label>
                          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="glucose" name="glucose" required>
                            <option value="">Select</option>
                            <option selected value="1">Normal</option>
                            <option value="2">Above Normal</option>
                            <option value="3">Well Above Normal</option>
                          </select>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Smoke(yes=1, 0=no):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="smoke" type="number" oninput="validateInput(this)" name="smoke" min="0" max="1" step="1" value="0"  required>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Alcohol(yes=1, 0=no):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="alco" type="number" oninput="validateInput(this)" name="alco" min="0" max="1" step="1" value="0" required>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Physical Activity(presence=1, 0=absence):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="active" type="number" oninput="validateInput(this)" name="active" min="0" max="1" step="1"  value="1" required>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Prediction</label>
                          <div class="flex justify-center" id="prediction-output"></div>
                        </div>
                      
                  </div>
            
                </div>
            <input type="hidden" name="prediction">
            <div id="overlay">
              <div id="overlay-text">Working...</div>
            </div>
            <div class="flex items-center justify-between">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Submit
              </button>
            </div>
          </form>
          <br>
          <hr>
          <!--<div class="flex justify-center" id="prediction-output"></div>-->
          <div class="flex justify-center">
            <img id="plot">
          </div>
          </div>
        </div>
        <form id="ask" class="ask">
        <div class="input">
          <textarea name="qn" id="qn" class="input-field" placeholder="Type your query here..."></textarea>
          <div class="send-icon">
            <!-- Send icon goes here -->
          </div>
        </div>
        </form>
        <hr>
        <div class="flex justify-center" id="ask-output"></div>

      </div>
    </div>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
  </body>
</html>