<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cardiovascular Disease Prediction</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon/favicon.png') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script>
      tailwind.config={
        theme: {
        container: {
          center: true,
        },
        }
      }
    </script>
    <script src="https://kit.fontawesome.com/4bf47fa459.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- You can add your own fonts from fonts.google.com -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <script src="{{ url_for('static',filename='js/index.js') }}"></script>

    <script>
      tailwind.config = {
        darkMode: "class",
      };
    </script>

  </head>
  <body style="font-family: 'Poppins', sans-serif"
  class="dark:bg-slate-900 bg-white dark:text-white">
    <header class="w-full p-3 border-b dark:border-b  flex">
      <nav
        class="w-full flex flex-col lg:flex-row md:flex-row sm:flex-row items-start lg:item-center md:item-center sm:item-center lg:justify-between md:justify-between sm:justify-between justify-start dark:text-white"
      >
        <ul>
          <!-- You can change your logo name -->
          <li class="font-mono text-xl">
            CVD(ml)
          </li>
        </ul>
        <ul id="header-nav" class="mr-6 sm:flex md:flex lg:flex hidden">
          <li
            class="mr-5 mb-3 mt-5 sm:mb-0 sm:mt-0 md:mb-0 md:mt-0 lg:mb-0 lg:mt-0"
          >
            <a href="/">Home</a>
          </li>
          <li
            class="mr-5 mb-3 mt-5 sm:mb-0 sm:mt-0 md:mb-0 md:mt-0 lg:mb-0 lg:mt-0"
          >
            <a href="/docs">Documentation</a>
          </li>
          <div>
            <ul class="flex">
              <!-- Change the href link to your respective social media accounts-->
              <li class="mr-5 flex dark:hidden" >
                <p onclick="darkmode()">
                  <img src="{{ url_for('static',filename='svgs/sun.svg') }}" alt="sun Link" />
                </p>
              </li>
              <li class="mr-5 hidden dark:flex" >
                <p onclick="lightmode()">
                  <img src="{{ url_for('static',filename='svgs/sun-dark.svg') }}" alt="sun Link" />
                </p>
              </li>
              <li class="mr-5 flex dark:hidden" >
                <a href="https://github.com/harontaiko"
                  ><img src="{{ url_for('static',filename='svgs/github.svg') }}" alt="GitHub Link"
                /></a>
              </li>
              <li class="mr-5 hidden dark:flex" >
                <a href="https://github.com/harontaiko"
                  ><img src="{{ url_for('static',filename='svgs/github-dark.svg') }}" alt="GitHub Link"
                /></a>
              </li>
            </ul>
          </div>
        </ul>
      </nav>

      <div class="sm:hidden flex" onclick="OnclickOpenMenu()" id="open-menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="hidden" onclick="OnclickCloseMenu()" id="close-menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </div>
    </header>
    <!--Main Content-->
    <div class="container mx-auto my-auto ">
      <div class="sidebar">
        <h3 class="text-3xl text-center font-bold">Predictions</h3>
        <hr>
        <ul class="predictions-list w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">   
        </ul>
      </div>
      <div class="main">
        <div class="messages">
          <div class="mx-auto my-auto">
            <h2 class="text-2xl text-center font-bold text-heading">Cardiovascular Disease Prediction (ML)</h2>
            <div class="grid grid-cols-2 gap-2">
              <div class="border-orange-600 mx-auto">
                <div class="mb-4">
                  <label class="block text-dark-700 font-bold mb-2" for="activity">Convert Years to Days</label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="years-input" type="number" name="years-input">
                  <br>
                  <ul class="mt-2 w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">   
                    <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600" id="days-output"> Days </li>
                  </ul>
                </div>
              </div>
              <div class="border-orange-600 mx-auto">
                <div class="mb-4">
                  <label class="block text-dark-700 font-bold mb-2" for="activity">Convert Days to Years</label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="days-input" type="number" name="days-input">
                  <br>
                  <ul class="mt-2 w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">   
                    <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600" id="years-output"> Years </li>
                  </ul>
                </div>
              </div>
            </div>
          <form id="form" class=" mx-auto mt-8 my-auto">
              <div class="grid grid-cols-2 gap-2">
                  <div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="age">Age(Days):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="age" type="number" name="age" value="18291" required>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="sex">Gender:</label>
                          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="gender" name="gender" required>
                            <option value="">Select</option>
                            <option selected value="1">Female</option>
                            <option value="2">Male</option>
                          </select>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Height(cm):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="height" type="number" name="height" value="150" required>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Weight(Kg):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="weight" type="number" name="weight" value="153" required>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="bp" title="a unit of pressure equal to the pressure exerted by a column of mercury 1 millimeter high at 0°C and under the acceleration of gravity and nearly equivalent to 1 torr (about 133.3 pascals)">Systolic Blood Pressure(mmHg):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="systolic_bp" type="number"  title="indicates how much pressure your blood is exerting against your artery walls when the heart beats." name="systolic_bp" value="120" required>
                        </div>
                        <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="bp">Diastolic Blood Pressure(mmHg):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="diastolic_bp" type="number" title="Indicates how much pressure your blood is exerting against your artery walls while the heart is resting between beats" name="diastolic_bp"  value="80" required>
                        </div>
                  </div>
                  <div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="sex">Cholestrol</label>
                          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="cholesterol" name="cholesterol" required>
                            <option value="">Select</option>
                            <option value="1">Normal</option>
                            <option selected value="2">Above Normal</option>
                            <option value="3">Well Above Normal</option>
                          </select>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="sex">Glucose</label>
                          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="glucose" name="glucose" required>
                            <option value="">Select</option>
                            <option selected value="1">Normal</option>
                            <option value="2">Above Normal</option>
                            <option value="3">Well Above Normal</option>
                          </select>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Smoke(yes=1, 0=no):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="smoke" type="number" oninput="validateInput(this)" name="smoke" min="0" max="1" step="1" value="0"  required>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Alcohol(yes=1, 0=no):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="alco" type="number" oninput="validateInput(this)" name="alco" min="0" max="1" step="1" value="0" required>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Physical Activity(presence=1, 0=absence):</label>
                          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-dark-700 leading-tight focus:outline-none focus:shadow-outline" id="active" type="number" oninput="validateInput(this)" name="active" min="0" max="1" step="1"  value="1" required>
                        </div>
                      <div class="mb-4">
                          <label class="block text-dark-700 font-bold mb-2" for="activity">Prediction</label>
                          <div class="flex justify-center" id="prediction-output"> | </div>
                        </div>
                      
                  </div>
            
                </div>
            <input type="hidden" name="prediction">
            <div id="overlay">
              <div id="overlay-text">Working...</div>
            </div>
            <div class="flex items-center justify-between">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Submit
              </button>
            </div>
          </form>
          <br>
          <hr>
          <!--<div class="flex justify-center" id="prediction-output"></div>-->
          <div class="flex justify-center">
            <img id="plot">
          </div>
          </div>
        </div>
        <!--<form id="ask" class="ask">
        <div class="input">
          <textarea name="qn" id="qn" class="input-field" placeholder="Type your query here..."></textarea>
          <div class="send-icon">
          </div>
        </div>
        </form>-->
        <hr>
        <div class="flex justify-center" id="ask-output"></div>

      </div>
    </div>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
  </body>
</html>