<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cardiovascular Disease Prediction</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config={
        theme: {
        container: {
          center: true,
        },
        }
      }
    </script>
  </head>
  <body class="bg-neutral-400 flex justify-center items-center">
    <div class="container mx-auto my-auto">
      <h2 class="text-2xl text-center font-bold">Cardiovascular Disease Prediction (ML)</h2>
    <form class="max-w-md mx-auto mt-8 my-auto">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="age">Age:</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="age" type="number" name="age" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="sex">Sex:</label>
        <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="sex" name="sex" required>
          <option value="">Select</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="activity">Physical Activity(Hours Per Week):</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="activity" type="number" name="activity" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="bp">Blood Pressure(mmHg):</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="bp" type="number" name="bp" required>
      </div>
      <input type="hidden" name="prediction">
      <div id="overlay">
        <div id="overlay-text">Working...</div>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Submit
        </button>
      </div>
    </form>
    
    <div class="flex justify-center" id="prediction-output"></div>
    <div class="flex justify-center">
      <img id="plot" alt="Plot">
    </div>
    <script>
// Get references to the form and prediction output elements
const form = document.querySelector("form");
const predictionOutput = document.getElementById("prediction-output");
const overlay = document.getElementById("overlay");
const plot = document.querySelector('#plot');

// Handle the form submit event
form.addEventListener("submit", (event) => {
  event.preventDefault();

  // Show the overlay
  overlay.style.display = "block";

  // Get the user inputs from the form
  const age = form.elements["age"].value;
  const sex = form.elements["sex"].value;
  const physicalActivity = form.elements["activity"].value;
  const bp = form.elements["bp"].value;

  // Make the prediction using the Flask API
  fetch("/", {
    method: "POST",
    body: JSON.stringify({
      age: age,
      sex: sex,
      physical_activity: physicalActivity,
      bp: bp,
    }),
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((response) => response.json())
    .then((data) => {
      // Hide the overlay after 3 seconds
      setTimeout(() => {
        overlay.style.display = "none";
        // Update the contents of the prediction output field
        predictionOutput.innerText = `Prediction: ${data.prediction}`;
        form.elements["prediction"].value = data.prediction;
        plot.src = 'data:image/png;base64,' + data.plot;
        console.log(data.prediction);
      }, 2500);
    });
});

// Handle changes to the form inputs
form.addEventListener("input", () => {
  // Reset the prediction output and prediction input field
  predictionOutput.innerText = "";
  form.elements["prediction"].value = "";
});

    </script>



    <style>
      #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
        justify-content: center;
        align-items: center;
}

#overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}

    </style>
    
    </div>
  </body>
</html>